<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
    
    <title>Atualizando Noticia</title>    
</head>
<body>
    <div class = "container">
    <h1>Atualizando a Noticia</h1>    
    <form method="post" enctype="multipart/form-data" >
    <div class = "Meio-container">
        <img src="{{ form.instance.logo.url }}" alt="Current profile image">
            {% csrf_token %}
            {{ form.as_p }} 
        </div>
            <button type="submit">Enviar</button>
        </div>
    </form>
</body>
</html>