<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css\style.css' %}" />

    <title>Criando Noticia</title>
  </head>
  <body>
    <div class="container , form">
      <h1>Criando Noticia</h1>
      <div class = "Meio-container">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %} {{ form.as_p }}
        </div>
        <button type="submit">Enviar</button>
      </form>
    </div>
  </body>
</html>


