<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parceiros</title>
</head>
<body>
    <ul>
        {% for pessoa in pessoas %}
            <li><p>Nome:</p> {{ pessoa.name.username }}<br>
            <li><p>Descrição:</p> {{ pessoa.description }}<br>
            <li><p>Categoria:</p> {{ pessoa.category }}<br>
            <li><p>Subcategoria:</p> {{ pessoa.fk_subcategory.name }}<br>
        {% endfor %}
    </ul>
</body>
</html>
