<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parceiros</title>
</head>
<body>
    <div class="lista">
        <ul>
            {% for pessoa in pessoas %}
                <li>
                    <p>Nome: <span class="value">
                        {{ pessoa.name.username }}</span></p>
                </li>
                <li>
                    <p>Descrição: <span class="value">
                        {{ pessoa.description }}</span></p>
                </li>
                <li>
                    <p>Categoria: <span class="value">
                        {{ pessoa.category }}</span></p>
                </li>
                <li>
                    <p>Subcategoria: <span class="value">
                        {{ pessoa.fk_subcategory.name }}</span></p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
