<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Eventos</title>
</head>
<body>
    <h1>Eventos</h1>
    <ul>
        {% for event in events %}
            <li>
                <h2>{{ event.title }}</h2>
                {% if event %}
                    <img src="{{ event }}" alt="{{ event.title }}">
                {% endif %}
        
            </li>
        {% empty %}
            <li>Nenhum evento encontrado.</li>
        {% endfor %}
    </ul>
</body>
</html>
