<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Eventos</title>
</head>
<body>
    <h1>Eventos</h1>
    <form action="{% url 'create_event' %}" method="get" style="display:inline;">
        <button type="submit" class="btn btn-primary">Criar novo evento</button>
    </form>
    <ul>
        {% for event in events %}
            <li>
                <h2>
                    <a href="{% url 'get_single_event' event.id %}">{{ event.title }}</a>
                </h2>
                {% if event.profile_image %}
                    <img src="{{ event.profile_image.url }}" alt="{{ event.id }}" width="300" height="150">
                {% endif %}
            </li>
        {% empty %}
            <li>Nenhum evento encontrado.</li>
        {% endfor %}
    </ul>
</body>
</html>
